<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="androidx.security,com.google.firebase.auth,com.google.firebase.auth.ktx"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <!--spoofing 추가-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Used to show all apps in the allowed Apps selection,
         this app needs the list the app in the allow/deny apps over the VPN -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
            tools:ignore="QueryAllPackagesPermission" />


    <application
        android:name="de.blinkt.openvpn.core.ICSOpenVPNApplication"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllinSafe"
        tools:ignore="UnusedAttribute"
        tools:targetApi="31"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        > <!--25.07.14 빌드가 아무 오류 메세지없이 안떠서 없애봄
        tools:overrideLibrary="androidx.security,com.google.firebase.auth,com.google.firebase.auth.ktx"
        -->
        <!--
        android:name="de.blinkt.openvpn.core.ICSOpenVPNApplication"
        기존 android:name ICSOpenVPNApplication를 그냥 없애기엔 그 안에서 초기화하는 것도 있어서
        MyApp 안에서 ICSOpenVPNApplication 를 상속 받는걸로 추가
        android:label="@string/app"
        android:theme="@style/blinkt"-->
        <meta-data
            android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restrictions" />

        <activity
            android:name="de.blinkt.openvpn.activities.DisconnectVPN"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=".DisconnectVPN"
            android:theme="@style/blinkt.dialog" />

        <service
            android:name="de.blinkt.openvpn.core.OpenVPNService"
            android:exported="true"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:foregroundServiceType="specialUse"
            android:process=":openvpn">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="vpn"/>

        </service>
        <service
            android:name=".api.ExternalOpenVPNService"
            android:process=":openvpn"
            android:exported="true"
                tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="de.blinkt.openvpn.api.IOpenVPNAPIService" />
            </intent-filter>
        </service>
        <service
            android:name="de.blinkt.openvpn.core.OpenVPNStatusService"
            android:exported="false"
            android:process=":openvpn" />

        <activity android:name=".api.GrantPermissionsActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".api.ConfirmDialog"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <service android:name="de.blinkt.openvpn.core.keepVPNAlive"
            android:process=":openvpn"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <activity
            android:name=".LaunchVPN"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:label="@string/vpn_launch_title"
            android:taskAffinity=".LaunchVPN"
            android:theme="@style/blinkt.dialog"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".api.RemoteAction"
            android:launchMode="singleInstance"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:taskAffinity=".LaunchVPN"
            android:theme="@style/blinkt.dialog"
            android:noHistory="true"
            />

        <activity-alias
            android:name=".api.ConnectVPN"
            android:exported="true"
            android:targetActivity=".api.RemoteAction" />
        <activity-alias
            android:name=".api.DisconnectVPN"
            android:exported="true"
            android:targetActivity=".api.RemoteAction" />
        <activity-alias
            android:name=".api.PauseVPN"
            android:exported="true"
            android:targetActivity=".api.RemoteAction" />
        <activity-alias
            android:name=".api.ResumeVPN"
            android:exported="true"
            android:targetActivity=".api.RemoteAction" />

    </application>

</manifest>