<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--
 This library wants SDK version 23 but we do runtime checks to not use it before
        API 23
    -->

    <uses-sdk tools:overrideLibrary="androidx.security"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <application>

        <!--전체 메인 화면-->
        <activity
            android:name=".allinsafemain.AllinsafeMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
<!--          AllinsafeMainActivity에서 AppCompat~를 상속 근데, 테마가 Material 어쩌구라  android:theme="@style/Theme.AllinSafe">-->

            <!-- 25.08.02 로그인 화면을 완전 처음으로 세팅-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--spoofing-->
        <activity
            android:name=".SpoofingMainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <!-- ✅ VpnService 등록 -->
        <service
            android:name=".vpn.CustomVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <!--vpn 메인 페이지-->
        <activity
            android:name="de.blinkt.openvpn.activities.VpnMainActivity"
            android:exported="true"
            tools:ignore="ExportedActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="openvpn" />
                <data android:host="import-profile" />
            </intent-filter>
        </activity>

        <activity android:name="de.blinkt.openvpn.activities.InternalWebView" />
        <!--25.08.02 필요없는거 삭제 시도1-->
<!--        <activity-->
<!--            android:name="de.blinkt.openvpn.activities.VPNPreferences"-->
<!--            android:exported="false"-->
<!--            android:windowSoftInputMode="stateHidden" />-->
<!--        <activity android:name="de.blinkt.openvpn.activities.FileSelect" />-->

        <!--spoofing-->
        <activity android:name=".Ac5_02_spoofingdetect_process"
            android:exported="false"
            android:taskAffinity="com.ui.multiFinish"/>
        <activity android:name=".Ac5_03_spoofingdetect_completed"
            android:exported="false"
            android:taskAffinity="com.ui.multiFinish"/>
        <activity android:name=".Ac5_04_spoofingdetect_detect_history"
            android:exported="false"/>

        <service
            android:name=".OpenVPNTileService"
            android:exported="true"
            android:icon="@drawable/ic_quick"
            android:label="@string/qs_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:value="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
        </service>

        <!--25.08.02 필요없는거 삭제 시도1-->
<!--        <activity-->
<!--            android:name="de.blinkt.openvpn.activities.ConfigConverter"-->
<!--            android:excludeFromRecents="true"-->
<!--            android:exported="true"-->
<!--            android:label="Convert Config File"-->
<!--            android:taskAffinity=".ConfigConverter"-->
<!--            android:uiOptions="splitActionBarWhenNarrow"-->
<!--            tools:ignore="ExportedActivity">-->
<!--            <intent-filter-->
<!--                android:label="@string/import_config"-->
<!--                tools:ignore="AppLinkUrlError">-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data android:mimeType="application/x-openvpn-profile" />-->
<!--            </intent-filter>-->
<!--            <intent-filter-->
<!--                android:label="@string/import_config"-->
<!--                tools:ignore="AppLinkUrlError">-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data android:mimeType="application/ovpn" />-->
<!--            </intent-filter>-->
<!--            <intent-filter android:label="@string/import_config">-->

<!--                &lt;!&ndash; http://stackoverflow.com/questions/7f030832/associating-certain-file-extension-to-my-android-application/7102838#7102838 &ndash;&gt;-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->

<!--                <data android:mimeType="*/*" />-->
<!--                <data android:scheme="content" />-->
<!--                <data android:host="*" />-->
<!--                <data android:pathPattern=".*..*..*..*..*.ovpn" />-->
<!--                <data android:pathPattern=".*..*..*..*.ovpn" />-->
<!--                <data android:pathPattern=".*..*..*.ovpn" />-->
<!--                <data android:pathPattern=".*..*.ovpn" />-->
<!--                <data android:pathPattern=".*.ovpn" />-->
<!--            </intent-filter>-->
<!--        </activity> &lt;!&ndash; https://commonsware.com/blog/2019/03/27/death-external-storage-stay-away-files.html &ndash;&gt;-->
<!--        <activity-alias-->
<!--            android:name=".activities.ConfigConverterFile"-->
<!--            android:enabled="@bool/supportFileScheme"-->
<!--            android:exported="true"-->
<!--            android:targetActivity="de.blinkt.openvpn.activities.ConfigConverter">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->

<!--                <data android:mimeType="*/*" />-->
<!--                <data android:scheme="file" />-->
<!--                <data android:host="*" />-->
<!--                <data android:pathPattern=".*..*..*..*..*.ovpn" />-->
<!--                <data android:pathPattern=".*..*..*..*.ovpn" />-->
<!--                <data android:pathPattern=".*..*..*.ovpn" />-->
<!--                <data android:pathPattern=".*..*.ovpn" />-->
<!--                <data android:pathPattern=".*.ovpn" />-->
<!--            </intent-filter>-->
<!--        </activity-alias>-->
<!--        <activity-->
<!--            android:name="de.blinkt.openvpn.activities.OpenSSLSpeed"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_open_sslspeed"-->
<!--            android:parentActivityName="de.blinkt.openvpn.activities.VpnMainActivity">-->
<!--            <meta-data-->
<!--                android:name="android.support.PARENT_ACTIVITY"-->
<!--                android:value="de.blinkt.openvpn.activities.VpnMainActivity" />-->
<!--        </activity>-->
        <provider
            android:name=".FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />





        <!--25.08.02 앱-화면잠금,블루투스 합병 -> 필요없는 vpn 파일들 삭제 후 다시 하겠음-->
<!--        <activity-->
<!--            android:name=".ac0_main.Ac0_09_user_info"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".ac0_main.Ac0_00_main_init_main"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".ac1_applock.EditLockAppActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".ac1_applock.AlarmActivity"-->
<!--            android:exported="false" /> &lt;!&ndash; 여기서부턴 로그인,핀/패턴 &ndash;&gt;-->
<!--        <activity-->
<!--            android:name=".ac0_login.Ac0_02_register"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".ac0_patternpin.Ac0_03_choose_pinOrPattern"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".ac0_patternpin.Ac0_04_pattern_setup"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".ac0_patternpin.Ac0_05_pattern_verify"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".ac0_patternpin.Ac0_06_pin_setup"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".ac0_patternpin.Ac0_07_pin_verify"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".ac0_patternpin.Ac0_08_pinpattern_forwarding"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".ac1_applock.Ac1_01_applock_init_main"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".ac4_screenlock.Ac4_01_screenlock_main"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".ac0_login.Ac0_01_login"-->
<!--            android:exported="true">-->
<!--            &lt;!&ndash; 25.08.02 로그인 메인 화면 &ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <service-->
<!--            android:name=".ac1_applock.AppLockAccessibilityService"-->
<!--            android:exported="false"-->
<!--            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.accessibilityservice.AccessibilityService" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.accessibilityservice"-->
<!--                android:resource="@xml/accessibility_service_config" />-->
<!--        </service>-->

<!--        <receiver android:name=".OnBootReceiver"-->
<!--            android:exported="true">-->
<!--            <intent-filter android:priority="999">-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!--        &lt;!&ndash; ✅ PIN 설정 액티비티 &ndash;&gt;-->
<!--        <activity-->
<!--            android:name="com.naver.appLock.ac4_screenlock.pinlock.PinSetupActivity"-->
<!--            android:exported="false"-->
<!--            android:label="PIN 설정"-->
<!--            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />-->

<!--        &lt;!&ndash; ✅ PIN 입력 액티비티 &ndash;&gt;-->
<!--        <activity-->
<!--            android:name="com.naver.appLock.ac4_screenlock.pinlock.PinLockActivity"-->
<!--            android:exported="false"-->
<!--            android:label="PIN 인증"-->
<!--            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />-->

<!--        &lt;!&ndash; ✅ Device Admin 수신자 &ndash;&gt;-->
<!--        <receiver-->
<!--            android:name="com.naver.appLock.ac4_screenlock.MyDeviceAdminReceiver"-->
<!--            android:permission="android.permission.BIND_DEVICE_ADMIN"-->
<!--            android:exported="false">-->
<!--            <meta-data-->
<!--                android:name="android.app.device_admin"-->
<!--                android:resource="@xml/device_admin_receiver" />-->
<!--            <intent-filter>-->
<!--                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

<!--        &lt;!&ndash; ✅ 잠금 해제 감지 리시버 &ndash;&gt;-->
<!--        <receiver-->
<!--            android:name="com.naver.appLock.ac4_screenlock.receiver.LockStatusReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.USER_PRESENT" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

    </application>

</manifest>